<p class="center">Patches made by the Modding-OpenMW.com community.</p>
<div class="center">
  <a href="/img/BCOM+GhastlyGG+DynamicDistantBuildingsPatch1.png"><img src="/img/BCOM+GhastlyGG+DynamicDistantBuildingsPatch1.png" title="BCOM+GhastlyGG+DynamicDistantBuildingsPatch"/></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above.</li>
  <li class="bold">Note that included images for <code>BCOM+GhastlyGG+DynamicDistantBuildingsPatch</code> contain plot/quest spoilers!</li>
  <li>Extract the contents to a location of your choosing.</li>
  <li>See each mod's individual <code>README.md</code> file for detailed load order information.</li>
  <li>Note that these plugins won't be of any use without their dependent plugins, and these need to load after them. Enjoy!</li>
</ol>
